/data/
*.laz
*.las
*.csv

__pycache__/
*.py[cod]
*$py.class

.env
.venv
env/
venv/
ENV/
.vscode/
.idea/
*.swp
*.swo

# LaTeX compilation auxiliary files
*.aux
*.log
*.toc
*.out
*.synctex.gz
*.fdb_latexmk
*.fls
*.blg
*.bbl
*.bcf
*.run.xml
*.lof
*.lot
*.pdf
